body {
  background-color: #000000;
  margin: 0;
  text-align: center;
}

a {
  text-decoration: none;
  font-size: 45px;
  color: #FF4500;
  padding: 5px;
}

.title {
  color: #FF4500;
  font-family: 'Luckiest Guy', cursive;
  font-size: 8em;
  margin: auto;
  display: inline-block;
  padding: 50px;
}

.player {
  color: #FF6347;
  font-size: 3em;
  font-family: 'Gochi Hand', cursive;
  margin: 5%;
}

.dice {
  margin: 0 5%;
}

.display-player {
  display: inline-block;
}

.wreath {
  width: 20%;
  display: inline-block;
  padding: 40px;
}

footer {
  color: #be5683;
  text-align: center;
  padding: 5%;
  font-size: 2em;
  font-family: 'Luckiest Guy', cursive;
}
